<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT-Distance_Meter</title>
        style 
            include ../assets/CSS/style.css
</head>
 script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js")
 script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" )
<body>
    |<div class="chart">
    |<canvas id="chart"></canvas>
    |</div>
    |<div class="cursor"></div>

</body> 
     script
      include ../assets/JS/script.js
     
</html>