<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robotics </title>
  
  <link rel="shortcut icon" type="image/png" href="icon/favicon.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>


</head>
<style>
  .chart {
    width: 900px;
    height: 500px;
  }
</style>

<body>
  <div class="chart">
    <canvas id="chart"></canvas>
  </div>



  <!-- <script src="../../../../node_modules/socket.io/client-dist/socket.io.js"></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <script>
  
   

    const showChart = () => {
      const ctx = document.getElementById('chart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: 'Distance',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }

    showChart()

    
  // var socket = io();

  //   socket.on('chat message', function (msg) {
  //     item.textContent = msg;
  //     console.log(msg);
  //   });
  </script>
</body>

</html>